<!-- Footer/Links 
		================================================== -->
<section class="footer-sec">
    <div class="container hidden5" style="opacity:0;">
        <div class="row">
            <div class="col-md-3">
                <div class="img-container line" style="max-height: 160px;">
                    <img class="img-fluid" src="./img/Hilltop Logo Final.png" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <h3>Address</h3>
                <p class="line">
                    28661 Meadow Glen Way W
                    <br> Escondido, CA 92026
                </p>
            </div>

            <div class="col-md-3">
                <h3>Contact</h3>
                <p class="line">
                    (858) 837-0213
                    <br>dyruby21@aol.com
                </p>
            </div>

            <div class="col-md-3">
                <h3>Connect With Us</h3>
                <ul class="social-network social-circle">
                    <li>
                        <a href="#" class="icoInstagram" title="Instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="icoFacebook" title="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="icoYelp" title="Yelp">
                            <i class="fa fa-yelp"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="icoYouTube" title="YouTube">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <p class="footer-text">©2018 Donovan Hedrich Montoya & Angeline Dy</p>

</section>