<!-- Swiper Silder
		================================================== -->
<!-- Slider main container -->
<div class="swiper-container main-slider" id="myCarousel">
    <img class="img-fluid floater" src="./img/Hilltop Logo Final.png" alt="">
    <div class="swiper-wrapper">
        <div class="swiper-slide slider-bg-position" style="background:url('./img/hanging-flower.jpg')" data-hash="slide3"> 
            <!-- <h2>Feels like home</h2> -->
            <h3>An expansive natural getaway<br> to soothe the soul</h3>
        </div>
        <div class="swiper-slide slider-bg-position" style="background:url('./img/front-arch.jpg')" data-hash="slide3">
            <!-- <h2>Feels like home</h2> -->
            <h3>An expansive natural getaway<br> to soothe the soul</h3>
        </div>
        <div class="swiper-slide slider-bg-position" style="background:url('./img/hilltop1-umbrella.jpg')" data-hash="slide3">
            <!-- <h2>Feels like home</h2> -->
            <h3>An expansive natural getaway<br> to soothe the soul</h3>
        </div>
        <div class="swiper-slide slider-bg-position" style="background:url('./img/branch.jpg')" data-hash="slide3">
            <!-- <h2>Feels like home</h2> -->
            <h3>An expansive natural getaway<br> to soothe the soul</h3>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Navigation -->
    <div class="swiper-button-prev">
        <i class="fa fa-chevron-left"></i>
    </div>
    <div class="swiper-button-next">
        <i class="fa fa-chevron-right"></i>
    </div>
</div>
<div class="separator"></div>

<!-- Services
    ================================================== -->
<section class="service-sec" id="services">
    <div class="container hidden2" style="opacity:0;">
        <div class="row section-heading">
            <div class="col-md-8">
                <div class="heading">
                    <h2>
                        <small>Boutique Memory Care</small>Our compassion sets us apart</h2>
                    <hr>
                </div>
            </div>
            <div class="col-md-4 section-heading-img">
                <img class="img-fluid service-logo" src="./img/Main Logo PNG.png" alt="">
            </div>
        </div>
        <div class="row section-content">
            <div class="col-md-8">
                <h3>About Hilltop Country Estate</h3>
                <p>
                    Our goal has always been very simple: to bring back as much quality to the lives of the elderly whom we serve. With many years in operation, we take pride and joy in knowing that we are able to serve and serve well.
                </p>
                <p>
                    Hilltop Country Estate is a private 10 bed residential care facility for the elderly, licensed by the State of California. We are fully committed to serving the elderly who are frail with physical limitations and also those who may be suffering from mild to moderate dementia. We provide 24 hour personal care and close supervision in a private and serene homelike setting. We provide assistance and services to ambulatory and non-ambulatory resident including those needing wheelchair accessibility. 
                </p>
            </div>
            <div class="col-md-4">
                <img src="./img/canopy.jpg" class="img-fluid service-img gallery-pic" />
            </div>
        </div>

        
    </div>
</section>


