<!-- Swiper Silder
		================================================== -->
<!-- Slider main container -->
<section class="carousel-sec" id="carousel">
    <div class="section-content" style="padding:0">
        <div class="swiper-container main-slider" id="myCarousel">
            <img class="img-fluid floater" src="./img/Hilltop Logo Final.png" alt="">
            <div class="carousel-text">
                <h3 class="welcome-home"><a id="services-link" href="#services">Welcome Home.</a></h3>
                <hr>
                <a href="/contact" class="btn-map btn-reviews change-text">&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>

                {{!-- <p>Click or call to schedule a tour today!</p> --}}
            </div>
            <div class="swiper-wrapper">
                <div class="swiper-slide slider-bg-position" style="background:url('./img/umbrella.jpg')" data-hash="slide1">
                    <!-- <h2>Feels like home</h2> -->
                    {{!-- <h3>An expansive natural getaway<br> to soothe the soul</h3> --}}
                </div>
                <div class="swiper-slide slider-bg-position" style="background:url('./img/twin-trees.jpg')" data-hash="slide2">
                    <!-- <h2>Feels like home</h2> -->
                    {{!-- <h3>An expansive natural getaway<br> to soothe the soul</h3> --}}
                </div>
                <div class="swiper-slide slider-bg-position" style="background:url('./img/hanging-flower.jpg')"
                    data-hash="slide3">
                    <!-- <h2>Feels like home</h2> -->
                    {{!-- <h3>An expansive natural getaway<br> to soothe the soul</h3> --}}
                </div>
                <div class="swiper-slide slider-bg-position" style="background:url('./img/branch.jpg')" data-hash="slide4">
                    <!-- <h2>Feels like home</h2> -->
                    {{!-- <h3>An expansive natural getaway<br> to soothe the soul</h3> --}}
                </div>
                <div class="swiper-slide slider-bg-position" style="background:url('./img/back-landscape2.jpg')"
                    data-hash="slide5">
                    <!-- <h2>Feels like home</h2> -->
                    {{!-- <h3>An expansive natural getaway<br> to soothe the soul</h3> --}}
                </div>
            </div>
            <!-- Add Pagination -->
            {{!-- <div class="swiper-pagination"></div> --}}
            <!-- Add Navigation -->
            <div class="swiper-button-prev">
                <i class="fa fa-chevron-left"></i>
            </div>
            <div class="swiper-button-next">
                <i class="fa fa-chevron-right"></i>
            </div>
        </div>
    </div>
</section>

<!-- Services
    ================================================== -->
<section class="service-sec" id="services">
    <div class="container hidden2" style="opacity:0;">
        <div class="row section-content">

            <div class="col-md-7 about-us-text">
                <h3>Our Compassion Sets Us Apart</h3>
                <hr>
                <p>At Hilltop Country Estate, we pride ourselves on caring for your loved ones
                    like they are our
                    own family. We work hard to provide luxury care at an affordable price. Located in the serene
                    Escondido community of Hidden Meadows, Hilltop Country Estate sits upon 10 acres of beautiful
                    landscape, fruit trees, and views of the valley and mountains. Call us today for a personal
                    tour or for more information about our services.</p>
            </div>

            <div class="gallery-preview col-md-5">
                <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel"
                    data-interval="4000">
                    <div class="carousel-inner2" style="">
                    </div>
                    <div class="btn-container">
                        <a href="/AIBC" class="btn-services btn-reviews btn-map">SEE OUR SERVICES&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid hidden4 white-bg" style="opacity:0;">
        <div class="container">
            <div class="row section-content">
                <div class="col-md-5 map-expand">
                    <div class="map-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3337.650929221469!2d-117.11894568550782!3d33.22324646840714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzPCsDEzJzIzLjciTiAxMTfCsDA3JzAwLjMiVw!5e0!3m2!1sen!2sus!4v1542035166497"
                            width="100%" height="91%" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="btn-container">
                        <a href="/contact" class="btn-services btn-reviews btn-map">VISIT US&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="about-us-text">
                        <h3 class="green-text">An Expansive Natural Getaway To Soothe The Soul</h3>
                        <hr class="green-border">
                        <p class="white-text">Hilltop Country Estate is located in the serene golf community of Hidden
                            Meadows, nestled
                            amongst the gently rolling hills of Escondido, California. This assisted living home is
                            spread
                            out over 10 acres and has beautiful views of the surrounding mountains and valley.
                            Residents
                            can enjoy peaceful walks amongst the many fruit trees or relax in any of the numerous
                            outdoor
                            seating areas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container hidden5" style="opacity:0;">
        <div class="row section-content">
            <div class="card-desc col-md-9 col-md-push-9" style="padding: 0px; background: rgba(164,194,168,1);">
                <div class="testimonial-preview quote-card green-card no-quote" style="">
                    <p class="home-quote">
                        My mother recieved outstanding care here. They are respectful, caring, and clean!! I loved
                        visiting her while the staff would sing with other clients. Truly a special setting as well.
                        More family members came to see her here because it was so inviting. </p>
                    <cite style="padding-bottom: 50px;">
                        Valerie B.
                    </cite>
                    <div class="btn-container">
                        <a href="/reviews" class="btn-reviews">See more reviews&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-pull-3 gallery-preview2">
                <div class="btn-container">
                    <a href="https://instagram.com/escondidoboardandcare" class="btn-card btn-card2"><i class="fa fa-instagram"></i>&nbsp;&nbsp;Follow
                        us&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>

</section>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="./js/home.js"></script>
{{!--
<script src="./js/instagram.js"></script> --}}