<!-- Swiper Silder
		================================================== -->
<!-- Slider main container -->
<section class="carousel-sec" id="carousel">
    <div class="container-fluid section-content" style="">
        <div class="swiper-container main-slider" id="myCarousel">
            <img class="img-fluid floater" src="./img/Hilltop Logo Final.png" alt="">
            <div class="swiper-wrapper">
                <div class="swiper-slide slider-bg-position" style="background:url('./img/umbrella.jpg')" data-hash="slide1">
                    <!-- <h2>Feels like home</h2> -->
                    {{!-- <h3>An expansive natural getaway<br> to soothe the soul</h3> --}}
                </div>
                <div class="swiper-slide slider-bg-position" style="background:url('./img/twin-trees.jpg')" data-hash="slide2">
                    <!-- <h2>Feels like home</h2> -->
                    {{!-- <h3>An expansive natural getaway<br> to soothe the soul</h3> --}}
                </div>
                <div class="swiper-slide slider-bg-position" style="background:url('./img/hanging-flower.jpg')"
                    data-hash="slide3">
                    <!-- <h2>Feels like home</h2> -->
                    {{!-- <h3>An expansive natural getaway<br> to soothe the soul</h3> --}}
                </div>
                <div class="swiper-slide slider-bg-position" style="background:url('./img/branch.jpg')" data-hash="slide4">
                    <!-- <h2>Feels like home</h2> -->
                    {{!-- <h3>An expansive natural getaway<br> to soothe the soul</h3> --}}
                </div>
                <div class="swiper-slide slider-bg-position" style="background:url('./img/back-landscape2.jpg')"
                    data-hash="slide5">
                    <!-- <h2>Feels like home</h2> -->
                    {{!-- <h3>An expansive natural getaway<br> to soothe the soul</h3> --}}
                </div>
            </div>
            <!-- Add Pagination -->
            {{!-- <div class="swiper-pagination"></div> --}}
            <!-- Add Navigation -->
            <div class="swiper-button-prev">
                <i class="fa fa-chevron-left"></i>
            </div>
            <div class="swiper-button-next">
                <i class="fa fa-chevron-right"></i>
            </div>
        </div>
    </div>
</section>
{{!-- overlapping text box --}}
{{!-- <div class="container hidden4">
    <div class="row">
        <div class="col-md-4 overlap" style="background: #a5c2a4;">
            <h3>Our Compassion Sets Us Apart</h3>
        </div>
    </div>
</div> --}}

<!-- Services
    ================================================== -->
<section class="service-sec" id="services">
    <div class="container-fluid hidden2" style="opacity:0;">
        <div class="row section-content slogan-content">

            <div class="about-us about-us-right">
                <div class="about-us-text">
                    <h3>Our Compassion Sets Us Apart</h3>
                    <hr>
                    <p>At Hilltop Country Estate, we pride ourselves on caring for your loved ones
                        like they are our
                        own family. We work hard to provide luxury care at an affordable price. Located in the serene
                        Escondido community of Hidden Meadows, Hilltop Country Estate sits upon 10 acres of beautiful
                        landscape, fruit trees, and views of the valley and mountains. Call us today for a personal
                        tour or for more information about our services.</p>
                    <a href="/AIBC" class="btn-services">OUR SERVICES&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid hidden5" style="opacity:0;">
        <div class="row section-content">
            <div class="col-md-4 gallery-preview">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="10000">
                    <div class="carousel-inner2" style="">
                    </div>
                </div>
            </div>
            <div class="card-desc col-md-8" style="padding: 0px;">
                <blockquote class="testimonial-preview quote-card white-card snip-1" style="">
                    <p class="">
                        I highly recommend Hilltop Country Estate if you need personalized care for
                        your loved one. You and
                        your loved one will feel right at home.
                    </p>
                    <cite style="padding-bottom: 50px;">
                        Lois & Peter M.
                    </cite>
                    <div class="btn-container">
                        <a href="/reviews" class="btn-reviews">more reviews&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="container-fluid hidden4" style="opacity:0;">
        <div class="row section-content slogan-content">
            <div class="about-us about-us-left">
                <div class="about-us-text">
                    <h3>Our Compassion Sets Us Apart</h3>
                    <hr>
                    <p>At Hilltop Country Estate, we pride ourselves on caring for your loved ones like they are our
                        own family. We work hard to provide luxury care at an affordable price. Located in the serene
                        Escondido community of Hidden Meadows, Hilltop Country Estate sits upon 10 acres of beautiful
                        landscape, fruit trees, and views of the valley and mountains. Call us today for a personal
                        tour or for more information about our services.</p>
                    <a href="/AIBC" class="btn-services">OUR SERVICES&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>


</section>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="./js/home.js"></script>