<!-- Services
    ================================================== -->
<section class="service-sec first-sec" id="services">
    <div class="container hidden2" style="opacity:0;">
        <div class="row section-heading">
            <div class="col-md-8">
                <div class="heading">
                    <h2>
                        <small>Reviews</small>Testimonials</h2>
                    <hr>
                </div>
            </div>
            <div class="col-md-4 section-heading-img">
                <img class="img-fluid service-logo" src="./img/Main Logo PNG.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="container">
                <blockquote class="quote-card green-card">
                    <p>
                        I highly recommend Hilltop Country Estate if you need personalized care for your loved one. You
                        and
                        your loved one will feel right at home. </p>

                    <cite>
                        Lois & Peter M.
                    </cite>
                </blockquote>
            </div>
            <div class="container">
                <blockquote class="quote-card white-card">
                    <p>
                        I would recommend Hilltop without a moment’s hesitation and will gladly talk to anyone who is
                        considering moving their loved one there. Thank you so much for all you’ve done for my mother.
                        Please
                        send my regards and grateful thanks to your wonderful staff of caregivers for all they did for
                        her.
                    </p>

                    <cite>
                        Kathy S.
                    </cite>
                </blockquote>
            </div>
            <div class="container">
                <blockquote class="quote-card green-card">
                    <p>
                        The staff at the facility was wonderful..or any other adjective that describes loving, caring
                        individuals. His daily life was enhanced by their care and attentiveness to his needs. We knew
                        my dad
                        would spend his last his last days there, and when he passed away, every staff member came to
                        say
                        goodbye to him, and their tears were my tears. I have never met people like them and bless them
                        each
                        day for making his last stage of life a meaningful one.
                    </p>

                    <cite>
                        Maureen P.
                    </cite>
                </blockquote>
            </div>
            {{!-- <h4>I highly recommend Hilltop Country Estate if you need personalized care for your loved one. You
                and
                your loved one will feel right at home.
            </h4>
            <p>~ Lois & Peter M.
            </p>
            <h4>I would recommend Hilltop without a moment’s hesitation and will gladly talk to anyone who is
                considering moving their loved one there. Thank you so much for all you’ve done for my mother. Please
                send my regards and grateful thanks to your wonderful staff of caregivers for all they did for her.
            </h4>
            <p>~ Kathy S.
            </p>
            <h4>The staff at the facility was wonderful..or any other adjective that describes loving, caring
                individuals. His daily life was enhanced by their care and attentiveness to his needs. We knew my dad
                would spend his last his last days there, and when he passed away, every staff member came to say
                goodbye to him, and their tears were my tears. I have never met people like them and bless them each
                day for making his last stage of life a meaningful one.
            </h4>
            <p>~ Maureen P.</p>
        </div> --}}
    </div>
</section>