<!-- Services
    ================================================== -->
<section class="service-sec first-sec" id="services">
    <div class="container">
        <div class="row section-heading">
            <div class="col-md-8">
                <div class="heading">
                    <h2>
                        <small>Our Communities</small>Recommended Homes</h2>
                    <hr>
                </div>
            </div>
            <div class="col-md-4 section-heading-img">
                <img class="img-fluid service-logo" src="./img/Main Logo PNG.png" alt="">
            </div>
        </div>
        <div class="row section-content">
            <h3 class="obvi-link">
                <a href="https://dhedrich.github.io/villa-monticello/">Villa Monticello</a>
            </h3>
            <p>This amazing board and care home is soon to open to Escondido by the end of the year. Spread over almost
                10 acres of oak trees and greenery, this Italian villa style board and care home will be a serene home
                for your loved ones.</p>
        </div>
    </div>
</section>