.btn-link {
  font-size: 24px;
}
.btn-services-next {
  float: right;
  text-transform: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  width: 100%!important;
  margin:0 0 50px 0;
  text-align: center;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.prev-correct {
  padding-left: 0;
}

.btn-services-prev {
  float: left;
  text-transform: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  width: 100%!important;
  margin:0 0 50px 0;
  text-align: center;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.card-body li {
  line-height: 2.6em;
}
@media (max-width: 767.5px) {
  .btn-link {
    font-size: 16px;
  }
}
#accordionExample li {
  font-size: 18px;
}
#accordionExample {
  margin-bottom: 50px;
}
#accordionExample .card-header {
  border-radius: 0;
  border: 0;
  margin-top: 0px;
}
#accordionExample a {
  display: block;
  color: #fff;
  padding: 10px 15px;
  border-bottom: 1px solid #144d24;
  background-color: #a5c2a4;
  text-decoration: none;
  border-radius: 0px;
}
#accordionExample .card-header a.collapsed:hover,
#accordionExample .card-header a.collapsed:focus {
  background-color: #144d24;
  color: white;
  transition: all 0.2s ease-in;
}
#accordionExample .card-header a.collapsed:hover::before,
#accordionExample .card-header a.collapsed:focus::before {
  color: white;
}
#accordionExample .card-header {
  padding: 0;
  border-radius: 0px;
  text-align: center;
}
#accordionExample .card-header a:not(.collapsed) {
  color: white;
  background-color: #144d24;
  transition: all 0.2s ease-in;
}

/* Add Indicator fontawesome icon to the left */
#accordionExample .card-header .btn-link::before {
  font-family: 'FontAwesome';
  content: '\f00d';
  float: left;
  color: white;
  font-weight: lighter;
  transform: rotate(0deg);
  transition: all 0.2s ease-in;
}
#accordionExample .card-header .btn-link.collapsed::before {
  color: #144d24;
  transform: rotate(-135deg);
  transition: all 0.2s ease-in;
}

/*-------------------------------------*/

#accordion .panel {
    border-radius: 0;
    border: 0;
    margin-top: 0px;
  }
  #accordion a {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #144d24;
    text-decoration: none;
  }
  #accordion .panel-heading a.collapsed:hover,
  #accordion .panel-heading a.collapsed:focus {
    background-color: #a5c2a4;
    color: white;
    transition: all 0.2s ease-in;
  }
  #accordion .panel-heading a.collapsed:hover::before,
  #accordion .panel-heading a.collapsed:focus::before {
    color: white;
  }
  #accordion .panel-heading {
    padding: 0;
    border-radius: 0px;
    text-align: center;
  }
  #accordion .panel-heading a:not(.collapsed) {
    color: white;
    background-color: #144d24;
    transition: all 0.2s ease-in;
  }
  
  /* Add Indicator fontawesome icon to the left */
  #accordion .panel-heading .accordion-toggle::before {
    font-family: 'FontAwesome';
    content: '\f00d';
    float: left;
    color: white;
    font-weight: lighter;
    transform: rotate(0deg);
    transition: all 0.2s ease-in;
  }
  #accordion .panel-heading .accordion-toggle.collapsed::before {
    color: #444;
    transform: rotate(-135deg);
    transition: all 0.2s ease-in;
  }

/* pricing table format */
    ul li {
      margin-bottom:1.4rem;
    }
    .pricing-divider {
    border-radius: 20px;
    background: #C64545;
    padding: 1em 0 4em;
    position: relative;
    }
    .blue .pricing-divider{
    background: #a5c2a4; 
    }
    .green .pricing-divider {
    background: #144d24; 
    }
    .red b {
      color:#C64545
    }
    .blue b {
      color:#a5c2a4
    }
    .green b {
      color:#144d24
    }
    .pricing-divider-img {
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 80px;
    }
    .btn-custom1 {
      background: #a5c2a4;
      transition: 0.2s;
      border: 2px solid #a5c2a4;
    }
    .btn-custom2 {
      color: #fff;
      background: #144d24;
      transition: 0.2s;
      border: 2px solid #144d24;
    }
    .btn-custom1:hover, .btn-custom2:hover {
      transition: 0.2s;
      background: #fff;
      color: #000;
    }
    .deco-layer {
      -webkit-transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
    }
    
    .img-float {
      width:50px; position:absolute;top:-3.5rem;right:1rem
    }
    
    .princing-item {
      transition: all 150ms ease-out;
    }
    .princing-item:hover {
      transform: scale(1.05);
    }
    .princing-item:hover .deco-layer--1 {
      -webkit-transform: translate3d(15px, 0, 0);
      transform: translate3d(15px, 0, 0);
    }
    .princing-item:hover .deco-layer--2 {
      -webkit-transform: translate3d(-15px, 0, 0);
      transform: translate3d(-15px, 0, 0);
    }
    
    

    .fine-print {
      display: inline-block;
      float: right;
      text-align: right;
    }
    .fine-print p {
      text-align: right;
      line-height:12px;
    }
    